.body-content {
    margin-top: 0!important;
}
.navbar {
    display: none;
}

.jequiti-logo {
    max-width: 100%;
}

#btnEntrar {
    width: 100%;
}

body {
    margin-bottom: 30px;
    padding-top: 0;
}

.body-content {
    width: 100% !important;
    max-width: 100% !important;
    background: url(../Images/background.jpg) top center no-repeat #f4f4eb;
}

.login-box {
    padding-top: 150px;
    margin-bottom: 40px;
}

.body-content {
    background: url(../Images/background.jpg) top center no-repeat #f4f4eb !important;
}
