
<div id="loadingPanel" class="loading loading-panel"></div>
<div class="loading loading-panel-content container">
    <div class="text-center">
        <label>
            <span id="loadingPanelTexto">Carregando</span>
            <span id="loadId" class="loading-dots"><span>.</span><span>.</span><span>.</span></span>
        </label>
    </div>
</div>
