.thumbnail-box {
    display: table;
    height: 170px;
    width: 100%;
}

a.thumbnail {
    display: table-cell;
    vertical-align: middle;
    font-size: 2em;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #c2ccb7;
    transition: none;
    border-radius: 0;
}

a.thumbnail, a.thumbnail:hover, a.thumbnail:active, a.thumbnail:focus {
    text-decoration: none;
    color: #006400;
    outline: none;
    text-align: center;
    box-shadow: none;
}

    a.thumbnail:hover, a.thumbnail:active, a.thumbnail:focus {
        border: 1px solid #495f32;
        border-color: #495f32;
    }

@media(max-width:767px) {
    a.thumbnail {
        text-align: center;
    }
}


body {
    background-image: url("~/Images/agenda-1111.jpg");
}
