@{
    ViewBag.Title = "Login";

    bool UsuarioOuSenhaInvalidos = ViewBag.ErroLogin == true;
    bool AcessoNaoPermitido = ViewBag.AcessoNaoPermitido == true;
    bool UsuarioDesativado = ViewBag.UsuarioDesativado == true;
}




<section class="row sm-vcenter login-box">
    <table>
        <tr>

            <td width="400px" align="right"><img src="~/Images/logo.jpg" /></td>
            <td width="600px" >
                
                <div class="col-sm-4 col-sm-offset-4">
                    @using (Html.BeginForm("Index", "Login", new {ReturnUrl = Request.QueryString["ReturnUrl"]}, FormMethod.Post))
                    {

                        @Html.AntiForgeryToken()

                        if (UsuarioOuSenhaInvalidos)
                        {
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Usuário e/ou senha inválido(s)
                                </div>
                            </div>
                        }
                        else if (AcessoNaoPermitido)
                        {
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Acesso não autorizado
                                </div>
                            </div>
                        }
                        else if (UsuarioDesativado)
                        {
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Usuário inativo
                                </div>
                            </div>

                        }

                        <div class="form-group">
                            <label for="Usuario">Usuário</label>
                            <input type="text" class="form-control" id="Login" name="Login">
                        </div>

                        <div class="form-group">
                            <label for="Senha">Senha</label>
                            <input type="password" class="form-control" id="Senha" name="Senha">
                        </div>

                        <div class="form-group col-sm-6 col-sm-offset-6 v-padding-0">
                            <button style="align-content: right" id="btnEntrar" type="submit" class="btn btn-default pull-right">Entrar</button>
                        </div>
                    }
                </div>
            </td>
        </tr>
    </table>
   
</section>

