
@{
    ViewBag.Title = "Login";
    bool UsuarioOuSenhaInvalidos = ViewBag.ErroLogin == true;
}

<section class="row sm-vcenter login-box">
    <div class="col-sm-4 col-sm-offset-4">
        @using (Html.BeginForm("Index", "Login"))
        {
            if (UsuarioOuSenhaInvalidos)
            {
                <div class="form-group">
                    <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Usuário e/ou senha inválido(s)</div>
                </div>
            }
            <div class="form-group">
                <label>Usuário</label>
                <input type="text" class="form-control" id="Login">
            </div>

            <div class="form-group">
                <label>Senha</label>
                <input type="password" class="form-control" id="Senha">
            </div>

            <div class="form-group col-sm-6 col-sm-offset-6 v-padding-0">
                <button id="btnEntrar" type="submit" class="btn btn-default pull-right">Entrar</button>
            </div>

        }
    </div>
</section>
