@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/Scripts/Home")
}
<div class="div-pagina-inicial">
    <div class="row">
        <img class="siga-main-image" src="~/Images/bg-agendamento.jpg" width="100%" height="100%" />
    </div>
</div>